body {
   background-image: linear-gradient(
    to right, /* or 'to bottom' for horizontal stripes, or an angle like 45deg */
    #DAA928 0%, /* Red starts at 0% */
    #FB8931 25%, /* Red ends at 25% */
    #E7541E 35%, /* Blue starts at 25% */
    #509844 50%, /* Blue ends at 50% */
    #D03499 60%, /* Green starts at 50% */
    #1E7BC9 75%, /* Green ends at 75% */
    #B121B6 85%, /* Yellow starts at 75% */
    #DD133B 100% /* Yellow ends at 100% */
  );
}

html{
  height: 100%;
  width: 100%;
}

#myCanvas {
  border-radius: 30px;
  border: 15px double rgb(14, 6, 244);
  border-top-style:dotted;
  border-bottom-style:dashed;
  
}

.container{
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(255, 255, 255);
  background-image: url("https://c8.alamy.com/comp/T8W9G5/holographic-galaxy-marble-pattern-unicorn-space-swirl-background-vector-illustration-T8W9G5.jpg");
  overlay: rgb(128, 30, 30);
  justify-content: space-around;
  align-items: flex-start;
  padding-bottom: 60px;
  border-radius: 30px;
}

.pic{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 30px;
  border: 15px double rgb(252, 7, 7);
  border-top-style:dotted;
  border-bottom-style: dashed;
}

h2{
  color: black;
}

#start{
  text-align: left;
}

#end{
  text-align: right;
}